<div id="footer">
- <a target="_blank" rel="nofollow noopener author" href="https://codeberg.org/th0th/uareha">uareha</a>
+ <a target="_blank" rel="nofollow noopener author" href="http://wakaba.c3.cx/">kareha <const KAREHA_VERSION></a>
+ <a href="<var $path><const RSS_FILE>">RSS feed</a>
-
</div>
